extends layout

block content
    .panel.panel-default    
        .panel-heading  
            h3  Unsuccessful Authentication
            
            a.btn.btn-primary(href="login") Re enter credentials