extends layout

block content
    p Thanks for filling out the form
    p What do you want to do next?

    a.btn.btn-warning(href="mailer") Fill another contact?
    br
    br
    a.btn.btn-primary(href="contacts") Display all contacts